<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mastercooker" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_cooker"
        android:label="@string/app_name"
        android:theme="@style/ToolBar" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".activity.FoodListActivity"
            android:label="@string/title_activity_food_list" >
        </activity>
        <activity
            android:name=".activity.FullActivity"
            android:icon="@mipmap/ic_cooker"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/ToolBar" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_resiter"
            android:theme="@style/ToolBar" >
        </activity>
        <activity
            android:name=".activity.ModifyPswActivity"
            android:label="@string/title_activity_modify_psw"
            android:theme="@style/ToolBar" >
        </activity>
    </application>

</manifest>
